<head>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 , shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/fecbd12c52.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATbR3LsdfELGThRp7QLuwpELrgCi9xkGs"
            type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
     <link rel="stylesheet" href="/ionicons/css/ionicons.css">
</head>
<body>
<div id="render-target"></div>
</body>
